header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 0 3.5rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
  z-index: 10;
  transition: background 0.4s ease-in-out;
}

.browse {
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
}

header.solid {
  background: black;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left img {
  height: 25px;
  object-fit: contain;
  margin-right: 3rem;
}

.links {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
}

.links p {
  cursor: pointer;
  margin-right: 1.5rem;
}

.links p:hover {
  color: rgb(221, 221, 221);
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right i {
  margin-left: 2rem;
}

@media screen and (max-width: 768px) {
  header {
    padding: 0 1rem;
  }

  .navbar-left img {
    margin-right: 1.5rem;
  }

  .browse {
    display: flex;
  }

  .browse:hover {
    text-decoration: underline;
  }

  .browse i {
    margin-left: 5px;
  }

  .nav-links {
    display: none;
  }
}
