.hero {
  height: calc(10vw + 600px);
  margin-top: -4rem;
  position: relative;
  padding: 4rem 3.5rem;
}

.hero > img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  bottom: 12rem;
  max-width: calc(5vw + 400px);
}

.hero-title {
  font-size: calc(1vw + 1.5rem);
}

.hero-overview {
  font-size: calc(0.5vw + 0.75rem);
  padding: 0.75rem 0 calc(1vw + 1.5rem);
  font-weight: 300;
}

.hero-btn {
  display: flex;
  align-items: center;
}

.hero-btn i {
  margin-right: 10px;
}

.play-btn,
.info-btn {
  display: flex;
  align-items: center;
  padding: calc(1vw + 1px) calc(2vw + 5px);
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: calc(1vw + 0.25rem);
  font-weight: 700;
  cursor: pointer;
  margin-right: 10px;
}

.play-btn {
  color: black;
  background-color: white;
}

.info-btn {
  color: white;
  background-color: rgba(105, 105, 105, 0.6);
}

.fade {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, #141414, transparent);
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 4rem 1rem;
  }

  .hero-text {
    position: absolute;
    bottom: 12rem;
    max-width: calc(3vw + 300px);
  }
}
