.movies-list {
  background-color: #141414;
  min-height: 60vh;
  position: relative;
}

.movies-row {
  display: flex;
  flex-direction: column;
  transform: translateY(-8rem);
  padding-left: 3.5rem;
  margin-bottom: 2rem;
}

.movies-row h3 {
  font-weight: 400;
  font-size: 1.3rem;
}

.movies-slider {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 1rem 0;
}

.movies-slider::-webkit-scrollbar {
  display: none;
}

.movie-card {
  margin: 0 3px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.06);
}

.movie-card img {
  border-radius: 5px;
  height: 100%;
  width: 210px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .movies-row {
    padding-left: 1rem;
  }

  .movie-card img {
    width: 150px;
  }
}
